.card1{
   width: 300px;
   height: 450px;
   background-color: burlywood;
   border-radius: 60px;
    position: relative;
    top: 50px;
    left: 30px;
    transition: 1s;
}
 .card1:hover {
    background-color: #0080ff;
    width: 330px;
    height: 480px;
    # добавляем свойство для плавности:
    transition: 1s;
}

.photo {
   height: 30%;
   padding: 10px;
   # padding - это внутренний отступ
   # Для внешних отступов используется margin
}
.info {
   padding: 40px;
   height: 40%;
}
img {
   position: relative;
   left:15%;
   border-radius: 20px;
}
.card2{
   width: 300px;
   height: 450px;
   background-color: burlywood;
   border-radius: 60px;
   position: relative;
   top: -400px;
   left: 450px;
   transition: 1s;
}
 .card2:hover {
    background-color: #0080ff;
    width: 330px;
    height: 480px;
    # добавляем свойство для плавности:
    transition: 1s;
}

.photo {
   height: 30%;
   padding: 10px;
   # padding - это внутренний отступ
   # Для внешних отступов используется margin
}
.info {
   padding: 40px;
   height: 40%;
}
img {
   position: relative;
   left:15%;
   border-radius: 20px;
}
.card3{
   width: 300px;
   height: 450px;
   background-color: burlywood;
   border-radius: 60px;
    position: relative;
    top: -850px;
    left: 850px;
    transition: 1s;
}
 .card3:hover {
    background-color: #0080ff;
    width: 330px;
    height: 480px;
    # добавляем свойство для плавности:
    transition: 1s;
}

.photo {
   height: 30%;
   padding: 10px;
   # padding - это внутренний отступ
   # Для внешних отступов используется margin
}
.info {
   padding: 40px;
   height: 40%;
}
img {
   position: relative;
   left:15%;
   border-radius: 20px;
}